# Dependency directories
node_modules
dist

# Environment files
.env

# Build output
.vite/deps
.vite
*.local

# IDE specific
.vscode/*
.idea
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
